<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

<meta charset="ISO-8859-1">
</head>
<body>

<footer th:fragment="footer">
        <div class="inner">
			<br> <br> <a
				href="https://www.youtube.com/user/blackchecker1001/about"
				class="fa fa-youtube"></a> <a
				href="https://www.facebook.com/david.kirsner.3"
				class="fa fa-facebook"></a> <a href="https://www.google.de/?hl=de"
				class="fa fa-google"></a> <br> <br>
			<p style="color: white">
				Cocktail-Website by <a
					href="https://www.facebook.com/david.kirsner.3">@<ins>David
						Kirsner</ins></a>.
			</p>
		</div>
    </footer>

</body>
</html>